@font-face {
    font-family: "Abyssinica SIL";
    src: url("../fonts/AbyssinicaSIL-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Adlam Display";
    src: url("../fonts/AdlamDisplay.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Anta";
    src: url("../fonts/Anta.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Artifika";
    src: url("../fonts/Artifika-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Karla";
    src: url("../fonts/Karla-Italic-Variable.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Karla";
    src: url("../fonts/Karla-Variable.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Kaushan Script";
    src: url("../fonts/KaushanScript-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Keania One";
    src: url("../fonts/KeaniaOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Kotta One";
    src: url("../fonts/KottaOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lemon";
    src: url("../fonts/Lemon-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Protest Revolution";
    src: url("../fonts/ProtestRevolution-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Young Serif";
    src: url("../fonts/YoungSerif-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}