@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Artifika&family=Karla:ital,wght@0,200..800;1,200..800&family=Kaushan+Script&family=Keania+One&family=Kotta+One&family=Lemon&family=Protest+Revolution&family=Young+Serif&display=swap');

.heatmap-section {
  background: rgba(34, 39, 45, 0.8);
  padding: 20px;
  border-radius: 8px;
  color: white;
  margin: 20px 0;
}

#heatmap-latest-container, #heatmap-best-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 170px; 
}

/* Tooltip styling */
.cal-heatmap-tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  z-index: 10;
}

/* Highlight hover */
.cal-heatmap .hover {
  stroke: #fff;
  stroke-width: 1px;
  opacity: 0.9;
}

.heatmap-legend {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

.heatmap-legend span {
  font-size: 12px;
  margin: 0 5px;
  color: #adbac7;
}

#heatmap-legend {
  display: inline-block;
  width: 100px;
  height: 10px;
  background: linear-gradient(to right, #14432a, #4dd05a);
  margin: 0 8px;
}

.heatmap-container {
  background: rgba(34, 39, 45, 0.8);
  padding: 20px;
  border-radius: 8px;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  margin: 40px 150px 0px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heatmap-container h3 {
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
  color:#FE364F;
  margin-right: -12px;
  margin-bottom: 0px;
  font-size: 40px;
  position: relative;
  top: -60px;
}

.heatmap-details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.judgement-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}

.judgement-title {
  font-family: 'Keania One', sans-serif;
  font-size: 34px;
  font-weight: 400;
  color: #F38BA8;
}

.judgement-column div {
  font-size: 14px;
  margin-bottom: 5px;
  width: 80px;
}

.heatmap-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1500px;
}

.overall-score {
  font-size: 34px;
}

.segment-times {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.segment-time {
  font-size: 12px;
  color: #adbac7;
}