@font-face { 
    font-family: 'Anta';
    src: url('fonts/anta.ttf') ; 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Protest Revolution';
    src: url('fonts/ProtestRevolution-Regular.ttf') ; 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adlam Display';
    src: url('fonts/adlamdisplay.ttf') ; 
    font-weight: normal;
    font-style: normal;
}

@font-face { 
    font-family: 'Inter';
    src: url('fonts/inter.ttf') ; 
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Anta, sans-serif; 
    margin: 0;
    padding: 0;
    overflow: hidden; 
}



